In [1]:
import pandas as pd 
import numpy as np
from collections import Counter
import matplotlib.pyplot as plt
from IPython.display import display
import os


plt.rcParams['figure.figsize'] = [40, 9]
plt.rcParams['figure.dpi']=1000

pd.options.display.max_colwidth =100
pd.set_option('display.max_rows', 1000)

<a id='the_destination'></a>

In [2]:
INITIAL_COUNT = 57
COUNTERS_DF = pd.DataFrame()
FILTERED_DF = pd.DataFrame()
FREQUENCY_ORDER_OF_NUMBERS =""
DIR_NAME = os.getcwd()

## ReadFiles

In [3]:
df2018=pd.read_csv(os.path.join(DIR_NAME, 'lottodata/2018.txt'))
df2017=pd.read_csv(os.path.join(DIR_NAME, 'lottodata/2017.txt'))
df2016=pd.read_csv(os.path.join(DIR_NAME, 'lottodata/2016.txt'))

#fromating data

dt2018 =df2018.rename(columns={'Date': 'date', 'number1' : 'n1', 'number2':'n2', 'number3':'n3', 'number4':'n4', 'number5':'n5',
       'number6':'n6', 'number7':'n7', 'jackpot clamied': 'jackpot'}, index ={})
dt2018.date= pd.to_datetime(dt2018.date)

dt2017 =df2017.rename(columns={'Date': 'date', 'number1' : 'n1', 'number2':'n2', 'number3':'n3', 'number4':'n4', 'number5':'n5',
       'number6':'n6', 'number7':'n7', 'jackpot clamied': 'jackpot'}, index ={})
dt2017.date= pd.to_datetime(dt2017.date)

dt2016 =df2016.rename(columns={'Date': 'date', 'number1' : 'n1', 'number2':'n2', 'number3':'n3', 'number4':'n4', 'number5':'n5',
       'number6':'n6', 'number7':'n7', 'jackpot clamied': 'jackpot'}, index ={})
dt2016.date= pd.to_datetime(dt2016.date)

frames = [dt2018,dt2017,dt2016]
dt = pd.concat(frames)
dt.reset_index(inplace=True, drop=True) 
print("Loaded data from :", dt.iloc[dt.date.size-1][0]," to :", dt.iloc[0][0])
dt

Loaded data from : 2016-01-02 00:00:00  to : 2018-08-01 00:00:00

          date  n1  n2  n3  n4  n5  n6  n7     jackpot
0   2018-08-01   2  22  25  32  45  46   2   5000000 R
1   2018-07-28   7  11  31  34  35  36   1   4000000 R
2   2018-07-25   8   9  39  40  41  43   9   1000000 R
3   2018-07-21   1   6   7  20  29  49   5     6931435
4   2018-07-18   5  14  19  22  33  41   1   4000000 R
5   2018-07-14  30  40  41  47  48  49   0   2000000 R
6   2018-07-11   1   3  18  28  42  44   5     5322768
7   2018-07-07   2   5  13  18  25  36   2   4000000 R
8   2018-07-04   1   5  10  25  32  37   8   1000000 R
9   2018-06-30  16  24  37  38  40  42   9    10578110
10  2018-06-27  13  17  35  37  45  46   3   5000000 R
11  2018-06-23   6  17  25  29  48  49   1   4000000 R
12  2018-06-20   6  22  31  33  36  43   5   1000000 R
13  2018-06-16   4  19  31  33  40  46   2     8098317
14  2018-06-13   3   4   6  10  46  48   3   5000000 R
15  2018-06-09  13  16  34  35  39  42   9   4000000 R
16  2018-06-06   3   8  13  15  18  42   6   1000000 R
17  2018-06-02   1  10  19  24  30  31   7     3433497
18  2018-05-30  15  23  29  35  38  48   2   4000000 R
19  2018-05-26  10  16  24  27  47  48   6   3000000 R
20  2018-05-23   7  16  29  36  45  47   6    11352208
21  2018-05-19   3   4  27  41  44  49   2   6000000 R
22  2018-05-16   2  12  13  19  34  46   9   4000000 R
23  2018-05-12  23  27  29  36  38  42   0   3000000 R
24  2018-05-09   3   9  25  31  37  43   5     8299495
25  2018-05-05   1   5  17  31  34  49   7   7000000 R
26  2018-05-02   3   5  12  19  42  44   7   4000000 R
27  2018-04-28   2   9  11  33  47  48   4   2000000 R
28  2018-04-25   4   6  10  11  17  25   6     8298865
29  2018-04-21  12  15  19  23  29  38   5   7000000 R
30  2018-04-18   2   4   7  10  35  37   8   4000000 R
31  2018-04-14   4   9  33  34  42  47   6   3000000 R
32  2018-04-11   9  20  25  27  44  48   5     2047240
33  2018-04-07  12  15  19  27  34  47   8     7135159
34  2018-04-04  13  23  28  30  33  46   7   4000000 R
35  2018-03-31   1   8  12  15  46  48   5   3000000 R
36  2018-03-28   1  23  25  31  38  47   7     2490206
37  2018-03-24   3  16  27  34  42  45   1   3000000 R
38  2018-03-21  20  26  29  38  43  48   0    14033932
39  2018-03-17   1   7  17  22  29  46   7  11000000 R
40  2018-03-14  13  18  30  38  45  48   7   8000000 R
41  2018-03-10   8  19  34  35  40  49   8   7000000 R
42  2018-03-07   5  24  28  30  35  42   1   4000000 R
43  2018-03-03   5  24  28  37  40  44   8   3000000 R
44  2018-02-28   6  15  32  36  43  47   6     1337526
45  2018-02-24  18  27  33  41  44  47   6     8544076
46  2018-02-17  15  18  26  27  37  42   2   1000000 R
47  2018-02-10  17  20  27  35  41  45   8     7366168
48  2018-02-07  15  20  25  28  33  41   5   4000000 R
49  2018-02-03   5   9  13  20  39  48   5   3000000 R
50  2018-01-31   3   6   8  26  29  38   8     8813840
51  2018-01-27   4  22  24  34  36  43   6   7000000 R
52  2018-01-24   3   5  18  31  37  45   7   4000000 R
53  2018-01-20   3  11  15  18  33  45   4   3000000 R
54  2018-01-17   3  13  25  27  32  48   2    16244272
55  2018-01-13   5   6  14  16  31  48   0  14000000 R
56  2018-01-10   3  22  24  25  43  45   6  11000000 R
57  2018-01-06   5  14  32  37  46  47   0  10000000 R
58  2018-01-03  10  15  31  34  35  45   8   6000000 R
59  2017-12-30  11  12  14  27  37  48   0   5000000 R
60  2017-12-27  17  19  31  37  45  46   0   1000000 R
61  2017-12-23   4  11  31  32  38  39   6    18961293
62  2017-12-20   8  13  35  38  39  44   4  15000000 R
63  2017-12-16   5   6  18  23  30  40   9  13000000 R
64  2017-12-13   2   3   9  14  17  27   0  10000000 R
65  2017-12-09   7  12  16  20  25  46   7   8000000 R
66  2017-12-06  11  18  19  29  35  43   9   5000000 R
67  2017-12-02   3  12  13  17  18  33   2   4000000 R
68  2017-11-29   9  16  25  28  30  32   8   1000000 R
69  2017-11-25  11  17  20  26  37  43   9     8574680
70  2017-11-22  24  28  29  32  34  48   9   5000000 R
71  2017-11-18   2   5   9  12  20  35   7   4000000 R
72  2017-11-15   6  23  35  40  45  46   5   1000000 R
73  2017-11-11   1   7  11  16  19  37   7    17830561
74  2017-11-08   7  14  24  37  38  43   7  14000000 R
75  2017-11-04   3   7  14  21  46  47   6  13000000 R
76  2017-11-01   3   8  15  18  21  31   9  10000000 R
77  2017-10-28   1  20  22  24  33  36   1   8000000 R
78  2017-10-25   1  18  29  32  36  42   8   5000000 R
79  2017-10-21   4  10  15  25  34  46   1   4000000 R
80  2017-10-18   4   7  10  11  13  38   4   1000000 R
81  2017-10-14   7   9  10  13  35  40   7    13121323
82  2017-10-11   3   6  17  20  21  42   7  10000000 R
83  2017-10-07  11  20  21  24  30  49   6   8000000 R
84  2017-10-04  11  15  16  17  19  45   4   5000000 R
85  2017-09-30   4  18  19  23  33  46   1   4000000 R
86  2017-09-27  17  20  25  31  33  37   6   1000000 R
87  2017-09-23  10  15  19  23  38  44   6     8537139
88  2017-09-20   3   9  28  30  36  46   3   5000000 R
89  2017-09-16  21  26  27  31  35  47   9   4000000 R
90  2017-09-13  11  16  17  18  30  40   6   1000000 R
91  2017-09-09   8  14  18  27  40  49   3    17629073
92  2017-09-06  12  16  19  28  33  48   3  14000000 R
93  2017-09-02   3   5   8  14  33  34   6  12000000 R
94  2017-08-30   5   7   9  21  29  34   3   9000000 R
95  2017-08-26   2  11  19  24  28  49   9   8000000 R
96  2017-08-23  16  23  25  28  32  49   6   5000000 R
97  2017-08-19   2  10  29  35  45  48   2   4000000 R
98  2017-08-16   6   9  29  36  38  49   3   1000000 R
99  2017-08-12   5  15  25  27  47  49   6     3594929
100 2017-08-09   1  10  18  39  41  49   7   4000000 R
101 2017-08-05  14  18  19  23  37  49   5   3000000 R
102 2017-08-02  21  22  23  34  36  49   5    14789463
103 2017-07-29  14  20  29  30  35  37   3  13000000 R
104 2017-07-26  12  15  18  26  27  33   0  10000000 R
105 2017-07-22   5  27  37  41  45  47   7   8000000 R
106 2017-07-19  17  19  21  27  36  41   1   5000000 R
107 2017-07-15   8  25  31  32  33  38   1   4000000 R
108 2017-07-12  18  22  30  36  44  49   7   1000000 R
109 2017-07-08   2   3  17  23  27  40   2    13173447
110 2017-07-05   7  33  34  39  40  47   0  10000000 R
111 2017-07-01   2   3  15  22  35  47   8   8000000 R
112 2017-06-28  13  17  29  38  41  42   4   5000000 R
113 2017-06-24  13  23  27  38  43  46   6   4000000 R
114 2017-06-21   4   6   7  39  41  44   4   1000000 R
115 2017-06-17   2   6  16  22  44  49   1     7287855
116 2017-06-14  29  30  32  33  36  44   1   4000000 R
117 2017-06-10   4   6  16  26  29  42   7   3000000 R
118 2017-06-07   6  17  18  28  33  37   4    29696697
119 2017-06-03  24  31  32  35  37  46   3  27000000 R
120 2017-05-31   9  17  24  27  36  48   7  24000000 R
121 2017-05-27  23  24  25  27  29  49   1  22000000 R
122 2017-05-24   6  13  19  25  26  44   3  19000000 R
123 2017-05-20   1  15  29  34  37  44   7  17000000 R
124 2017-05-17   1   2  23  26  36  43   3  14000000 R
125 2017-05-13   7  19  32  45  47  48   1  13000000 R
126 2017-05-10   9  18  26  38  39  42   8  10000000 R
127 2017-05-06  16  26  30  31  32  47   4   8000000 R
128 2017-05-03   4   5  12  18  20  33   8   5000000 R
129 2017-04-29   3   4  18  36  37  49   5   4000000 R
130 2017-04-26  25  31  34  37  39  42   3   1000000 R
131 2017-04-22   1  11  12  19  25  32   7    13245614
132 2017-04-19  19  23  27  30  41  48   0  10000000 R
133 2017-04-15  12  18  21  27  30  36   7   8000000 R
134 2017-04-12  10  11  14  24  26  48   5   5000000 R
135 2017-04-08   2   7  28  39  40  47   1   4000000 R
136 2017-04-05   1   6   7  22  41  49   2   1000000 R
137 2017-04-01   5   8   9  18  22  36   8  11300368 R
138 2017-03-29   9  21  24  25  28  47   2   5000000 R
139 2017-03-25   1   9  11  25  26  49   6   4000000 R
140 2017-03-22   4  15  18  21  22  38   6   1000000 R
141 2017-03-18   4  12  23  27  31  40   0     5896029
142 2017-03-15   7  15  16  25  26  40   1  20000000 R
143 2017-03-11   4  12  17  26  46  49   8  18000000 R
144 2017-03-08   3   7  16  26  28  35   6  15000000 R
145 2017-03-04   1  19  22  23  41  45   2  13000000 R
146 2017-03-01  12  22  29  30  31  38   4  10000000 R
147 2017-02-25   1   3   4   9  28  32   4   8000000 R
148 2017-02-22   1   5   7  25  42  46   3   5000000 R
149 2017-02-18  17  20  24  25  27  41   9   4000000 R
150 2017-02-15   7  13  18  33  36  39   4   1000000 R
151 2017-02-11   3  12  22  32  45  46   6     4495389
152 2017-02-08  14  22  28  30  41  46   6   6000000 R
153 2017-02-04   2  16  28  37  39  49   8   4000000 R
154 2017-02-01   3  13  19  21  25  42   9   1000000 R
155 2017-01-28   6   9  15  38  41  42   7     3057019
156 2017-01-25   1   2  14  17  25  49   5    31058057
157 2017-01-21   5   9  11  14  26  39   9  29000000 R
158 2017-01-18  10  11  13  28  39  40   1  25000000 R
159 2017-01-14   3   4  23  27  28  37   3  23000000 R
160 2017-01-11  20  27  29  32  34  38   1  20000000 R
161 2017-01-07  12  14  17  22  45  46   7  18000000 R
162 2017-01-04   5  13  21  37  39  48   2  15000000 R
163 2016-12-31  27  29  37  42  45  47   3  13000000 R
164 2016-12-28   1   3   4  22  29  30   3   9000000 R
165 2016-12-24   4  11  18  22  30  45   1   7000000 R
166 2016-12-21   3  21  23  38  39  42   7   4000000 R
167 2016-12-17   6  24  28  29  34  35   2   3000000 R
168 2016-12-14  33  34  38  42  43  44   4      691276
169 2016-12-10  11  17  32  34  37  49   3     7578027
170 2016-12-07  13  18  36  40  42  48   8   4000000 R
171 2016-12-03   5  16  39  43  47  48   9   3000000 R
172 2016-11-30   1  10  12  19  21  47   6     1415102
173 2016-11-26  26  32  41  42  45  47   9     2904766
174 2016-11-23   4  27  28  31  38  44   7     6533986
175 2016-11-19   1   2   6  15  38  39   3   4000000 R
176 2016-11-16  13  19  20  38  39  44   8   1000000 R
177 2016-11-12   2   6   9  19  20  47   1   4379578 R
178 2016-11-09   6  13  20  33  39  41   5   5000000 R
179 2016-11-05   9  32  35  38  42  43   8   4000000 R
180 2016-11-02   1  12  19  26  30  48   6   1000000 R
181 2016-10-29   5   7   8  26  28  36   8     8760598
182 2016-10-26  11  15  18  43  44  45   6   5000000 R
183 2016-10-22   2  21  26  32  36  48   7   4000000 R
184 2016-10-19  16  32  33  40  42  43   5   1000000 R
185 2016-10-15   7  13  19  29  38  41   9    13568089
186 2016-10-12  22  29  35  37  39  47   2  10000000 R
187 2016-10-08  14  21  32  33  35  48   5   8000000 R
188 2016-10-05   1   5   6  17  28  41   1   5000000 R
189 2016-10-01   7  20  25  26  34  37   1   4000000 R
190 2016-09-28  11  15  38  41  44  46   2   1000000 R
191 2016-09-24   4  15  18  21  32  45   4     4344796
192 2016-09-21   1   8  11  18  24  29   5   1000000 R
193 2016-09-17   3  34  35  37  46  47   2     3083198
194 2016-09-14   2   3  15  20  31  35   8         NaN
195 2016-09-10   1   3   6  11  24  43   0  29000000 R
196 2016-09-07   7  11  18  19  21  27   0  25000000 R
197 2016-09-03   8  14  18  25  30  36   1  23000000 R
198 2016-08-31   3   7  31  37  40  41   3  20000000 R
199 2016-08-27   1   8  22  32  33  43   9  18000000 R
200 2016-08-24   6  14  16  35  42  48   2  15000000 R
201 2016-08-20  23  28  30  31  37  45   5  13000000 R
202 2016-08-17   2  10  30  34  41  49   1  10000000 R
203 2016-08-13   6  14  28  30  37  39   2   9000000 R
204 2016-08-10  11  12  17  23  43  49   9   6000000 R
205 2016-08-06   6  25  26  33  45  47   0   4000000 R
206 2016-08-03  15  21  26  34  42  43   6   1000000 R
207 2016-07-30   6  13  23  26  30  33   2    28932056
208 2016-07-27   5   6   7  17  18  39   1  25000000 R
209 2016-07-23   5  25  29  43  47  48   5  23000000 R
210 2016-07-20   1  18  20  28  40  49   5  20000000 R
211 2016-07-16   1  18  22  30  34  44   5  18000000 R
212 2016-07-13  10  14  20  27  33  41   7  15000000 R
213 2016-07-09   1  34  37  40  44  49   7  13000000 R
214 2016-07-06   4  16  18  37  38  42   0  10000000 R
215 2016-07-02   4   6   8  15  26  30   9   8000000 R
216 2016-06-29   4   5  28  32  44  49   4   5000000 R
217 2016-06-25   2   6  10  11  34  44   3   4000000 R
218 2016-06-22   8  19  35  40  41  43   8   1000000 R
219 2016-06-18   2   8  12  17  19  27   1     2996813
220 2016-06-15   7  12  13  33  48  49   7     8994882
221 2016-06-11   6  13  21  27  38  45   5   7000000 R
222 2016-06-08   2   5  30  33  44  48   6   4000000 R
223 2016-06-04   5   6  22  31  35  42   3   3000000 R
224 2016-06-01  19  25  30  35  40  46   2     4535875
225 2016-05-28   5   9  17  24  39  45   3   7000000 R
226 2016-05-25   6   9  10  21  30  36   6   4000000 R
227 2016-05-21   2   5  29  46  47  48   4   3000000 R
228 2016-05-18  10  13  19  26  31  41   4     1455100
229 2016-05-14   5  13  15  26  30  44   9         NaN
230 2016-05-11  10  19  20  31  39  41   5  30000000 R
231 2016-05-07  16  32  34  37  42  44   9  28000000 R
232 2016-05-04   2  11  14  35  39  49   5  24000000 R
233 2016-04-30  14  26  28  30  36  43   6  22000000 R
234 2016-04-27   1   6   9  21  26  37   6  18000000 R
235 2016-04-23   8  15  16  17  27  35   4  17000000 R
236 2016-04-20   1   5  11  13  20  49   8  13000000 R
237 2016-04-16   5  14  15  20  22  38   9  12000000 R
238 2016-04-13   2  13  17  35  36  49   7   9000000 R
239 2016-04-09   1   4  38  39  46  47   2   7000000 R
240 2016-04-06   6  19  25  30  33  42   4   4000000 R
241 2016-04-02   1  10  17  23  28  38   6   3000000 R
242 2016-03-30   1   5   9  13  26  41   1     5319644
243 2016-03-26   1   3  31  33  40  41   5   3000000 R
244 2016-03-23   9  10  16  22  31  44   0     9106378
245 2016-03-19   4  10  15  37  44  49   5   7000000 R
246 2016-03-16   9  11  26  29  35  46   6   4000000 R
247 2016-03-12  20  26  30  39  47  49   4   3000000 R
248 2016-03-09  10  13  32  37  46  48   7     6019797
249 2016-03-05   7  10  33  37  43  46   3   4000000 R
250 2016-03-02   1   8  10  16  17  40   9   1000000 R
251 2016-02-27   7  10  15  25  37  49   7     4466455
252 2016-02-24   5  13  23  31  47  48   5   1000000 R
253 2016-02-20   1  13  16  29  30  31   6     4529955
254 2016-02-17  24  26  32  35  38  39   3   1000000 R
255 2016-02-13  18  20  30  32  43  45   8     9649160
256 2016-02-10   2  17  19  32  34  38   4  15000000 R
257 2016-02-06  10  16  25  28  34  49   5  14000000 R
258 2016-02-03  10  18  19  31  33  47   8  10000000 R
259 2016-01-30  18  23  33  34  40  48   9   9000000 R
260 2016-01-27  12  14  16  19  29  47   3   5000000 R
261 2016-01-23   2  16  25  26  27  40   0   4000000 R
262 2016-01-20   7  12  14  15  19  46   3   1000000 R
263 2016-01-16   9  21  23  31  34  39   8     4502793
264 2016-01-13  14  18  19  25  35  46   0   1000000 R
265 2016-01-09  10  13  31  34  46  48   6     6850686
266 2016-01-06   3  12  27  36  42  45   0  10000000 R
267 2016-01-02   1  23  30  35  43  47   8   9000000 R

## Define Functions

In [4]:

def do_calculate_frequency(filter_df):
    n1c=Counter(filter_df.n1)
    n2c=Counter(filter_df.n2)
    n3c=Counter(filter_df.n3)
    n4c=Counter(filter_df.n4)
    n5c=Counter(filter_df.n5)
    n6c=Counter(filter_df.n6)
    sum1 = n1c+n2c+n3c+n4c+n5c+n6c
    data = [sum1,n1c,n2c,n3c,n4c,n5c,n6c]
    index = ["sum","first", "second", "third", "forth", "fifth", "six"]
    temp =pd.DataFrame(data, index=index)
    temp=temp.replace(np.nan,0)
    temp=temp.astype('int')
    datacounter=temp.transpose()
    datacounter=datacounter.sort_values(by='sum', ascending=False)    
    return datacounter

def do_counter_barplot(datacounter):  
    
    #plt.figure(figsize=(40, 9), dpi= 1000, facecolor='w', edgecolor='k')
    #datacounter.plot.hist(alpha=1)
    plt.rcParams['figure.figsize'] = [9, 2.5]
    plt.rcParams['figure.dpi']=200
    plt.figure()
    datacounter.plot.bar()

def do_print_counter(datacounter):
    t = datacounter
    t['position'] = pd.Series(np.array(range(1,datacounter.index.size+1,1)), index=datacounter.index)
    global COUNTERS_DF 
    COUNTERS_DF = t
    #t = datacounter.transpose()    
    #t['index'] = pd.series(range(1,49,1))
    #t.style.set_include_index(True) 
    #display(t.style)    
    display(t.transpose().style)

## Frequency of numbers

In [5]:
import ipywidgets as widgets
from ipywidgets import interact, HBox, Label

def view(y=INITIAL_COUNT):
    filter_df = dt.head(y)
    print("starting from date :", filter_df.iloc[filter_df.date.size-1][0] )
    print("number of draws :", y ,"from " , filter_df.iloc[0][0] )
    counters = do_calculate_frequency(filter_df=filter_df)
    do_counter_barplot(datacounter = counters)
    do_print_counter(datacounter = counters)
    
    global FILTERED_DF 
    FILTERED_DF = filter_df
    
    global COUNTERS_DF 
    COUNTERS_DF = counters
    
    #do_order_of_frequency(a)
    #print(counters.transpose())
    #return

style = {'description_width': 'initial'}
a_slider = widgets.BoundedIntText(min=0, max=dt.date.size, step=1, value=INITIAL_COUNT, description='number of entries: ', sytle=style)
widgets.interact(view,y=a_slider)

interactive(children=(BoundedIntText(value=57, description='number of entries: ', max=268), Output()), _dom_cl…

## Find the Position of the draw from  the counts

In [6]:
def do_order_of_frequency(a =[1,1,1,1,1,11]):
    i=0
    order = []
    return_string = "order of " + str(a) +": "
    
    while i < len(a) : 
        #return_string += str(a[i]) + " : " + str(COUNTERS_DF.iloc[COUNTERS_DF.index.get_loc(a[i])][7])+ " , " 
        #order[i] = COUNTERS_DF.iloc[COUNTERS_DF.index.get_loc(a[i])][7]
        try:
            order.append(COUNTERS_DF.iloc[COUNTERS_DF.index.get_loc(a[i])][7])
        except KeyError:
            order.append(-1)
        #return_string += str(COUNTERS_DF.iloc[COUNTERS_DF.index.get_loc(a[i])][7])+ " , " 
        i += 1
    #print(order)
    global FREQUENCY_ORDER_OF_NUMBERS
    FREQUENCY_ORDER_OF_NUMBERS = return_string + str(order) + " , [Max, Min]: [" + str(max(order)) + " , " +str(min(order)) +" , " + str(np.mean(order))+ "]"
    return FREQUENCY_ORDER_OF_NUMBERS        
a = [7,11,31,34,35,36]
do_order_of_frequency(a)    
print(do_order_of_frequency(a))
a = [8,9,39,40,41,43]    
print(do_order_of_frequency(a))
a = [1,6,7,20,29,49]    
print(do_order_of_frequency(a))
a = [5,14,19,22,33,41]    
print(do_order_of_frequency(a))
a = [30,40,41,47,48,49]    
print(do_order_of_frequency(a))
a = [1,3,18,28,42,44]    
print(do_order_of_frequency(a))
a = [2,5,13,18,25,36]    
print(do_order_of_frequency(a))
a = [1,5,10,25,32,37]    
print(do_order_of_frequency(a))

a_slider
#FREQUENCY_ORDER_OF_NUMBERS

order of [7, 11, 31, 34, 35, 36]: [40, 45, 11, 10, 18, 23] , [Max, Min]: [45 , 10 , 24.5]
order of [8, 9, 39, 40, 41, 43]: [42, 36, 46, 29, 25, 27] , [Max, Min]: [46 , 25 , 34.166666666666664]
order of [1, 6, 7, 20, 29, 49]: [20, 17, 40, 34, 9, 30] , [Max, Min]: [40 , 9 , 25.0]
order of [5, 14, 19, 22, 33, 41]: [4, 48, 21, 33, 12, 25] , [Max, Min]: [48 , 4 , 23.833333333333332]
order of [30, 40, 41, 47, 48, 49]: [41, 29, 25, 14, 1, 30] , [Max, Min]: [41 , 1 , 23.333333333333332]
order of [1, 3, 18, 28, 42, 44]: [20, 2, 22, 37, 6, 28] , [Max, Min]: [37 , 2 , 19.166666666666668]
order of [2, 5, 13, 18, 25, 36]: [38, 4, 8, 22, 3, 23] , [Max, Min]: [38 , 3 , 16.333333333333332]
order of [1, 5, 10, 25, 32, 37]: [20, 4, 32, 3, 44, 15] , [Max, Min]: [44 , 3 , 19.666666666666668]

BoundedIntText(value=57, description='number of entries: ', max=268)

## Most common pairs

In [7]:
#print(COUNTERS_DF.index.get_loc(7))
COUNTERS_DF.iloc[COUNTERS_DF.index.get_loc(7)][7]

40

In [8]:
#FILTERED_DF
FILTERED_DF.shape[1]
#for i in range(FILTERED_DF.shape[1])

9

In [39]:
items_to_take=20
def do_filter_dt(start_from,number_of_items):
    filter_df = dt.iloc[start_from:start_from+number_of_items,:]
    #print("starting from date :", filter_df.iloc[filter_df.date.size-1][0] )
    #print("number of draws :", y ,"from " , filter_df.iloc[0][0] )
    counters = do_calculate_frequency(filter_df=filter_df)
    #t = counters
    counters['position'] = pd.Series(np.array(range(1,counters.index.size+1,1)), index=counters.index)
    
    #display(filter_df.transpose().style)
    #display(counters.transpose().style)
    global FILTERED_DF 
    FILTERED_DF = filter_df
    
    global COUNTERS_DF 
    COUNTERS_DF = counters
    
def do_order_of_frequency(a , counters_df):
    i=0
    order = []
    return_string = "order of " + str(a) +": "
    
    while i < len(a) : 
        try:
            order.append(counters_df.iloc[counters_df.index.get_loc(a[i])][7])
        except KeyError:
            order.append(-1)
        #return_string += str(COUNTERS_DF.iloc[COUNTERS_DF.index.get_loc(a[i])][7])+ " , " 
        i += 1
    #print(order)
    order_only_number = [x for x in order if x != -1]
    print(order_only_number)
    global FREQUENCY_ORDER_OF_NUMBERS
    
    try:
        if len(order_only_number) > 4:
            FREQUENCY_ORDER_OF_NUMBERS = return_string + str(order) + " , [Max, Min]: [" + str(max(order_only_number)) + " , " +str(min(order_only_number)) +" , " + str(np.mean(order_only_number))+ "] \nordered: " + str(np.sort(order_only_number)) + " count :" + str(len(order_only_number) ) 
        else :
            FREQUENCY_ORDER_OF_NUMBERS= "0"
        #FREQUENCY_ORDER_OF_NUMBERS =  "\nordered: " + str(np.sort(order_only_number)) + " count :" + str(len(order_only_number)) 
    except:
        print("error")
    #FREQUENCY_ORDER_OF_NUMBERS = return_string + str(order) + " , [Max, Min]: [" + str(max(order_only_number)) + " , " +str(min(order_only_number)) +" , " + str(np.mean(order_only_number))+ "] "

    return FREQUENCY_ORDER_OF_NUMBERS

i=1 
number_of_items = 5
while i < 200 :
ZeroDivisionError   do_filter_dt(i,number_of_items)
    #list(dt.iloc[0,1:6])
    print("index: " + str(i-1) +" " + do_order_of_frequency(a=list(dt.iloc[i-1,1:7]), counters_df=COUNTERS_DF) +  " counters size: " +str(COUNTERS_DF.shape) )
    i +=1

IndentationError: expected an indented block (<ipython-input-39-1f1690559507>, line 50)

In [10]:
#COUNTERS_DF
t = COUNTERS_DF 
##t.asign+ position pd.Series(np.array(range(1,49,1)), index=COUNTERS_DF.index)
t['position'] = pd.Series(np.array(range(1,COUNTERS_DF.index.size+1,1)), index=COUNTERS_DF.index)
#t.assign('postion' = pd.Series(np.array(range(1,COUNTERS_DF.index.size+1,1)), index=COUNTERS_DF.index))
print(COUNTERS_DF.index.size)
k=[1,25,41,40,37,49,5,6,42,48,13,17,18,29,38,39,3,8,43,36,45,46,47,44,32,35,33,9,30,2,7,24,22,20,19,16,14,10,28]
np.sort(k)

18

array([ 1,  2,  3,  5,  6,  7,  8,  9, 10, 13, 14, 16, 17, 18, 19, 20, 22,
       24, 25, 28, 29, 30, 32, 33, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44,
       45, 46, 47, 48, 49])

In [11]:
COUNTERS_DF.shape

(18, 8)

display(dt.iloc[1:58,0:7].style)

In [12]:
print("c20:" + str(20*19*18*17*16*15 /(6*5*4*3*2*1)))
print("c18:" + str(18*17*16*15*14*13 /(6*5*4*3*2*1)))
print("c15:" + str(15*14*13*12*11*10 /(6*5*4*3*2*1)))

c20:38760.0
c18:18564.0
c15:5005.0

<a id='s10'></a>

<a href='#the_destination'>Link to the destination'</a>

In [13]:
a=[31,3,5,9,34,48,47,44,43,42,37,1,33,2,25,19,17,12,11,49]
np.sort(a)

array([ 1,  2,  3,  5,  9, 11, 12, 17, 19, 25, 31, 33, 34, 37, 42, 43, 44,
       47, 48, 49])

In [14]:
dt.iloc[0:3,0:7].style

In [15]:
dt.iloc[0:3,:].style

In [16]:
#kt = dt.iloc[0:200,:]
kt=dt
kt['even'] = pd.Series(np.zeros((kt.index.size,), dtype=int), index=kt.index)
kt['odd']  = pd.Series(np.zeros((kt.index.size,), dtype=int), index=kt.index)
kt['high'] = pd.Series(np.zeros((kt.index.size,), dtype=int), index=kt.index)
kt['low']  = pd.Series(np.zeros((kt.index.size,), dtype=int), index=kt.index)

#kt

In [17]:
low_number_till=30
for index, row in kt.iterrows() :
    #for i in row
    #print(str(index) + str(row))
    even = [i for i in row[1:7] if i%2==0]
    odd  = [i for i in row[1:7] if i%2!=0]
    high = [i for i in row[1:7] if i>low_number_till]
    low  = [i for i in row[1:7] if i<low_number_till]
    print(row[1:7])
    print(high)
    print(len(high))
    #print(low)
    #display(row)
    kt.at[index,'even'] = np.count_nonzero(even)
    kt.at[index,'odd']  = np.count_nonzero(odd)
    kt.at[index,'high'] = len(high)
    kt.at[index,'low']  = len(low)
    #print(even)
#kt
    #print(len(even))

n1     2
n2    22
n3    25
n4    32
n5    45
n6    46
Name: 0, dtype: object
[32, 45, 46]
3
n1     7
n2    11
n3    31
n4    34
n5    35
n6    36
Name: 1, dtype: object
[31, 34, 35, 36]
4
n1     8
n2     9
n3    39
n4    40
n5    41
n6    43
Name: 2, dtype: object
[39, 40, 41, 43]
4
n1     1
n2     6
n3     7
n4    20
n5    29
n6    49
Name: 3, dtype: object
[49]
1
n1     5
n2    14
n3    19
n4    22
n5    33
n6    41
Name: 4, dtype: object
[33, 41]
2
n1    30
n2    40
n3    41
n4    47
n5    48
n6    49
Name: 5, dtype: object
[40, 41, 47, 48, 49]
5
n1     1
n2     3
n3    18
n4    28
n5    42
n6    44
Name: 6, dtype: object
[42, 44]
2
n1     2
n2     5
n3    13
n4    18
n5    25
n6    36
Name: 7, dtype: object
[36]
1
n1     1
n2     5
n3    10
n4    25
n5    32
n6    37
Name: 8, dtype: object
[32, 37]
2
n1    16
n2    24
n3    37
n4    38
n5    40
n6    42
Name: 9, dtype: object
[37, 38, 40, 42]
4
n1    13
n2    17
n3    35
n4    37
n5    45
n6    46
Name: 10, dtype: object
[35, 37, 45, 46]
4
n1     6
n2    17
n3    25
n4    29
n5    48
n6    49
Name: 11, dtype: object
[48, 49]
2
n1     6
n2    22
n3    31
n4    33
n5    36
n6    43
Name: 12, dtype: object
[31, 33, 36, 43]
4
n1     4
n2    19
n3    31
n4    33
n5    40
n6    46
Name: 13, dtype: object
[31, 33, 40, 46]
4
n1     3
n2     4
n3     6
n4    10
n5    46
n6    48
Name: 14, dtype: object
[46, 48]
2
n1    13
n2    16
n3    34
n4    35
n5    39
n6    42
Name: 15, dtype: object
[34, 35, 39, 42]
4
n1     3
n2     8
n3    13
n4    15
n5    18
n6    42
Name: 16, dtype: object
[42]
1
n1     1
n2    10
n3    19
n4    24
n5    30
n6    31
Name: 17, dtype: object
[31]
1
n1    15
n2    23
n3    29
n4    35
n5    38
n6    48
Name: 18, dtype: object
[35, 38, 48]
3
n1    10
n2    16
n3    24
n4    27
n5    47
n6    48
Name: 19, dtype: object
[47, 48]
2
n1     7
n2    16
n3    29
n4    36
n5    45
n6    47
Name: 20, dtype: object
[36, 45, 47]
3
n1     3
n2     4
n3    27
n4    41
n5    44
n6    49
Name: 21, dtype: object
[41, 44, 49]
3
n1     2
n2    12
n3    13
n4    19
n5    34
n6    46
Name: 22, dtype: object
[34, 46]
2
n1    23
n2    27
n3    29
n4    36
n5    38
n6    42
Name: 23, dtype: object
[36, 38, 42]
3
n1     3
n2     9
n3    25
n4    31
n5    37
n6    43
Name: 24, dtype: object
[31, 37, 43]
3
n1     1
n2     5
n3    17
n4    31
n5    34
n6    49
Name: 25, dtype: object
[31, 34, 49]
3
n1     3
n2     5
n3    12
n4    19
n5    42
n6    44
Name: 26, dtype: object
[42, 44]
2
n1     2
n2     9
n3    11
n4    33
n5    47
n6    48
Name: 27, dtype: object
[33, 47, 48]
3
n1     4
n2     6
n3    10
n4    11
n5    17
n6    25
Name: 28, dtype: object
[]
0
n1    12
n2    15
n3    19
n4    23
n5    29
n6    38
Name: 29, dtype: object
[38]
1
n1     2
n2     4
n3     7
n4    10
n5    35
n6    37
Name: 30, dtype: object
[35, 37]
2
n1     4
n2     9
n3    33
n4    34
n5    42
n6    47
Name: 31, dtype: object
[33, 34, 42, 47]
4
n1     9
n2    20
n3    25
n4    27
n5    44
n6    48
Name: 32, dtype: object
[44, 48]
2
n1    12
n2    15
n3    19
n4    27
n5    34
n6    47
Name: 33, dtype: object
[34, 47]
2
n1    13
n2    23
n3    28
n4    30
n5    33
n6    46
Name: 34, dtype: object
[33, 46]
2
n1     1
n2     8
n3    12
n4    15
n5    46
n6    48
Name: 35, dtype: object
[46, 48]
2
n1     1
n2    23
n3    25
n4    31
n5    38
n6    47
Name: 36, dtype: object
[31, 38, 47]
3
n1     3
n2    16
n3    27
n4    34
n5    42
n6    45
Name: 37, dtype: object
[34, 42, 45]
3
n1    20
n2    26
n3    29
n4    38
n5    43
n6    48
Name: 38, dtype: object
[38, 43, 48]
3
n1     1
n2     7
n3    17
n4    22
n5    29
n6    46
Name: 39, dtype: object
[46]
1
n1    13
n2    18
n3    30
n4    38
n5    45
n6    48
Name: 40, dtype: object
[38, 45, 48]
3
n1     8
n2    19
n3    34
n4    35
n5    40
n6    49
Name: 41, dtype: object
[34, 35, 40, 49]
4
n1     5
n2    24
n3    28
n4    30
n5    35
n6    42
Name: 42, dtype: object
[35, 42]
2
n1     5
n2    24
n3    28
n4    37
n5    40
n6    44
Name: 43, dtype: object
[37, 40, 44]
3
n1     6
n2    15
n3    32
n4    36
n5    43
n6    47
Name: 44, dtype: object
[32, 36, 43, 47]
4
n1    18
n2    27
n3    33
n4    41
n5    44
n6    47
Name: 45, dtype: object
[33, 41, 44, 47]
4
n1    15
n2    18
n3    26
n4    27
n5    37
n6    42
Name: 46, dtype: object
[37, 42]
2
n1    17
n2    20
n3    27
n4    35
n5    41
n6    45
Name: 47, dtype: object
[35, 41, 45]
3
n1    15
n2    20
n3    25
n4    28
n5    33
n6    41
Name: 48, dtype: object
[33, 41]
2
n1     5
n2     9
n3    13
n4    20
n5    39
n6    48
Name: 49, dtype: object
[39, 48]
2
n1     3
n2     6
n3     8
n4    26
n5    29
n6    38
Name: 50, dtype: object
[38]
1
n1     4
n2    22
n3    24
n4    34
n5    36
n6    43
Name: 51, dtype: object
[34, 36, 43]
3
n1     3
n2     5
n3    18
n4    31
n5    37
n6    45
Name: 52, dtype: object
[31, 37, 45]
3
n1     3
n2    11
n3    15
n4    18
n5    33
n6    45
Name: 53, dtype: object
[33, 45]
2
n1     3
n2    13
n3    25
n4    27
n5    32
n6    48
Name: 54, dtype: object
[32, 48]
2
n1     5
n2     6
n3    14
n4    16
n5    31
n6    48
Name: 55, dtype: object
[31, 48]
2
n1     3
n2    22
n3    24
n4    25
n5    43
n6    45
Name: 56, dtype: object
[43, 45]
2
n1     5
n2    14
n3    32
n4    37
n5    46
n6    47
Name: 57, dtype: object
[32, 37, 46, 47]
4
n1    10
n2    15
n3    31
n4    34
n5    35
n6    45
Name: 58, dtype: object
[31, 34, 35, 45]
4
n1    11
n2    12
n3    14
n4    27
n5    37
n6    48
Name: 59, dtype: object
[37, 48]
2
n1    17
n2    19
n3    31
n4    37
n5    45
n6    46
Name: 60, dtype: object
[31, 37, 45, 46]
4
n1     4
n2    11
n3    31
n4    32
n5    38
n6    39
Name: 61, dtype: object
[31, 32, 38, 39]
4
n1     8
n2    13
n3    35
n4    38
n5    39
n6    44
Name: 62, dtype: object
[35, 38, 39, 44]
4
n1     5
n2     6
n3    18
n4    23
n5    30
n6    40
Name: 63, dtype: object
[40]
1
n1     2
n2     3
n3     9
n4    14
n5    17
n6    27
Name: 64, dtype: object
[]
0
n1     7
n2    12
n3    16
n4    20
n5    25
n6    46
Name: 65, dtype: object
[46]
1
n1    11
n2    18
n3    19
n4    29
n5    35
n6    43
Name: 66, dtype: object
[35, 43]
2
n1     3
n2    12
n3    13
n4    17
n5    18
n6    33
Name: 67, dtype: object
[33]
1
n1     9
n2    16
n3    25
n4    28
n5    30
n6    32
Name: 68, dtype: object
[32]
1
n1    11
n2    17
n3    20
n4    26
n5    37
n6    43
Name: 69, dtype: object
[37, 43]
2
n1    24
n2    28
n3    29
n4    32
n5    34
n6    48
Name: 70, dtype: object
[32, 34, 48]
3
n1     2
n2     5
n3     9
n4    12
n5    20
n6    35
Name: 71, dtype: object
[35]
1
n1     6
n2    23
n3    35
n4    40
n5    45
n6    46
Name: 72, dtype: object
[35, 40, 45, 46]
4
n1     1
n2     7
n3    11
n4    16
n5    19
n6    37
Name: 73, dtype: object
[37]
1
n1     7
n2    14
n3    24
n4    37
n5    38
n6    43
Name: 74, dtype: object
[37, 38, 43]
3
n1     3
n2     7
n3    14
n4    21
n5    46
n6    47
Name: 75, dtype: object
[46, 47]
2
n1     3
n2     8
n3    15
n4    18
n5    21
n6    31
Name: 76, dtype: object
[31]
1
n1     1
n2    20
n3    22
n4    24
n5    33
n6    36
Name: 77, dtype: object
[33, 36]
2
n1     1
n2    18
n3    29
n4    32
n5    36
n6    42
Name: 78, dtype: object
[32, 36, 42]
3
n1     4
n2    10
n3    15
n4    25
n5    34
n6    46
Name: 79, dtype: object
[34, 46]
2
n1     4
n2     7
n3    10
n4    11
n5    13
n6    38
Name: 80, dtype: object
[38]
1
n1     7
n2     9
n3    10
n4    13
n5    35
n6    40
Name: 81, dtype: object
[35, 40]
2
n1     3
n2     6
n3    17
n4    20
n5    21
n6    42
Name: 82, dtype: object
[42]
1
n1    11
n2    20
n3    21
n4    24
n5    30
n6    49
Name: 83, dtype: object
[49]
1
n1    11
n2    15
n3    16
n4    17
n5    19
n6    45
Name: 84, dtype: object
[45]
1
n1     4
n2    18
n3    19
n4    23
n5    33
n6    46
Name: 85, dtype: object
[33, 46]
2
n1    17
n2    20
n3    25
n4    31
n5    33
n6    37
Name: 86, dtype: object
[31, 33, 37]
3
n1    10
n2    15
n3    19
n4    23
n5    38
n6    44
Name: 87, dtype: object
[38, 44]
2
n1     3
n2     9
n3    28
n4    30
n5    36
n6    46
Name: 88, dtype: object
[36, 46]
2
n1    21
n2    26
n3    27
n4    31
n5    35
n6    47
Name: 89, dtype: object
[31, 35, 47]
3
n1    11
n2    16
n3    17
n4    18
n5    30
n6    40
Name: 90, dtype: object
[40]
1
n1     8
n2    14
n3    18
n4    27
n5    40
n6    49
Name: 91, dtype: object
[40, 49]
2
n1    12
n2    16
n3    19
n4    28
n5    33
n6    48
Name: 92, dtype: object
[33, 48]
2
n1     3
n2     5
n3     8
n4    14
n5    33
n6    34
Name: 93, dtype: object
[33, 34]
2
n1     5
n2     7
n3     9
n4    21
n5    29
n6    34
Name: 94, dtype: object
[34]
1
n1     2
n2    11
n3    19
n4    24
n5    28
n6    49
Name: 95, dtype: object
[49]
1
n1    16
n2    23
n3    25
n4    28
n5    32
n6    49
Name: 96, dtype: object
[32, 49]
2
n1     2
n2    10
n3    29
n4    35
n5    45
n6    48
Name: 97, dtype: object
[35, 45, 48]
3
n1     6
n2     9
n3    29
n4    36
n5    38
n6    49
Name: 98, dtype: object
[36, 38, 49]
3
n1     5
n2    15
n3    25
n4    27
n5    47
n6    49
Name: 99, dtype: object
[47, 49]
2
n1     1
n2    10
n3    18
n4    39
n5    41
n6    49
Name: 100, dtype: object
[39, 41, 49]
3
n1    14
n2    18
n3    19
n4    23
n5    37
n6    49
Name: 101, dtype: object
[37, 49]
2
n1    21
n2    22
n3    23
n4    34
n5    36
n6    49
Name: 102, dtype: object
[34, 36, 49]
3
n1    14
n2    20
n3    29
n4    30
n5    35
n6    37
Name: 103, dtype: object
[35, 37]
2
n1    12
n2    15
n3    18
n4    26
n5    27
n6    33

Name: 104, dtype: object
[33]
1
n1     5
n2    27
n3    37
n4    41
n5    45
n6    47
Name: 105, dtype: object
[37, 41, 45, 47]
4
n1    17
n2    19
n3    21
n4    27
n5    36
n6    41
Name: 106, dtype: object
[36, 41]
2
n1     8
n2    25
n3    31
n4    32
n5    33
n6    38
Name: 107, dtype: object
[31, 32, 33, 38]
4
n1    18
n2    22
n3    30
n4    36
n5    44
n6    49
Name: 108, dtype: object
[36, 44, 49]
3
n1     2
n2     3
n3    17
n4    23
n5    27
n6    40
Name: 109, dtype: object
[40]
1
n1     7
n2    33
n3    34
n4    39
n5    40
n6    47
Name: 110, dtype: object
[33, 34, 39, 40, 47]
5
n1     2
n2     3
n3    15
n4    22
n5    35
n6    47
Name: 111, dtype: object
[35, 47]
2
n1    13
n2    17
n3    29
n4    38
n5    41
n6    42
Name: 112, dtype: object
[38, 41, 42]
3
n1    13
n2    23
n3    27
n4    38
n5    43
n6    46
Name: 113, dtype: object
[38, 43, 46]
3
n1     4
n2     6
n3     7
n4    39
n5    41
n6    44
Name: 114, dtype: object
[39, 41, 44]
3
n1     2
n2     6
n3    16
n4    22
n5    44
n6    49
Name: 115, dtype: object
[44, 49]
2
n1    29
n2    30
n3    32
n4    33
n5    36
n6    44
Name: 116, dtype: object
[32, 33, 36, 44]
4
n1     4
n2     6
n3    16
n4    26
n5    29
n6    42
Name: 117, dtype: object
[42]
1
n1     6
n2    17
n3    18
n4    28
n5    33
n6    37
Name: 118, dtype: object
[33, 37]
2
n1    24
n2    31
n3    32
n4    35
n5    37
n6    46
Name: 119, dtype: object
[31, 32, 35, 37, 46]
5
n1     9
n2    17
n3    24
n4    27
n5    36
n6    48
Name: 120, dtype: object
[36, 48]
2
n1    23
n2    24
n3    25
n4    27
n5    29
n6    49
Name: 121, dtype: object
[49]
1
n1     6
n2    13
n3    19
n4    25
n5    26
n6    44
Name: 122, dtype: object
[44]
1
n1     1
n2    15
n3    29
n4    34
n5    37
n6    44
Name: 123, dtype: object
[34, 37, 44]
3
n1     1
n2     2
n3    23
n4    26
n5    36
n6    43
Name: 124, dtype: object
[36, 43]
2
n1     7
n2    19
n3    32
n4    45
n5    47
n6    48
Name: 125, dtype: object
[32, 45, 47, 48]
4
n1     9
n2    18
n3    26
n4    38
n5    39
n6    42
Name: 126, dtype: object
[38, 39, 42]
3
n1    16
n2    26
n3    30
n4    31
n5    32
n6    47
Name: 127, dtype: object
[31, 32, 47]
3
n1     4
n2     5
n3    12
n4    18
n5    20
n6    33
Name: 128, dtype: object
[33]
1
n1     3
n2     4
n3    18
n4    36
n5    37
n6    49
Name: 129, dtype: object
[36, 37, 49]
3
n1    25
n2    31
n3    34
n4    37
n5    39
n6    42
Name: 130, dtype: object
[31, 34, 37, 39, 42]
5
n1     1
n2    11
n3    12
n4    19
n5    25
n6    32
Name: 131, dtype: object
[32]
1
n1    19
n2    23
n3    27
n4    30
n5    41
n6    48
Name: 132, dtype: object
[41, 48]
2
n1    12
n2    18
n3    21
n4    27
n5    30
n6    36
Name: 133, dtype: object
[36]
1
n1    10
n2    11
n3    14
n4    24
n5    26
n6    48
Name: 134, dtype: object
[48]
1
n1     2
n2     7
n3    28
n4    39
n5    40
n6    47
Name: 135, dtype: object
[39, 40, 47]
3
n1     1
n2     6
n3     7
n4    22
n5    41
n6    49
Name: 136, dtype: object
[41, 49]
2
n1     5
n2     8
n3     9
n4    18
n5    22
n6    36
Name: 137, dtype: object
[36]
1
n1     9
n2    21
n3    24
n4    25
n5    28
n6    47
Name: 138, dtype: object
[47]
1
n1     1
n2     9
n3    11
n4    25
n5    26
n6    49
Name: 139, dtype: object
[49]
1
n1     4
n2    15
n3    18
n4    21
n5    22
n6    38
Name: 140, dtype: object
[38]
1
n1     4
n2    12
n3    23
n4    27
n5    31
n6    40
Name: 141, dtype: object
[31, 40]
2
n1     7
n2    15
n3    16
n4    25
n5    26
n6    40
Name: 142, dtype: object
[40]
1
n1     4
n2    12
n3    17
n4    26
n5    46
n6    49
Name: 143, dtype: object
[46, 49]
2
n1     3
n2     7
n3    16
n4    26
n5    28
n6    35
Name: 144, dtype: object
[35]
1
n1     1
n2    19
n3    22
n4    23
n5    41
n6    45
Name: 145, dtype: object
[41, 45]
2
n1    12
n2    22
n3    29
n4    30
n5    31
n6    38
Name: 146, dtype: object
[31, 38]
2
n1     1
n2     3
n3     4
n4     9
n5    28
n6    32
Name: 147, dtype: object
[32]
1
n1     1
n2     5
n3     7
n4    25
n5    42
n6    46
Name: 148, dtype: object
[42, 46]
2
n1    17
n2    20
n3    24
n4    25
n5    27
n6    41
Name: 149, dtype: object
[41]
1
n1     7
n2    13
n3    18
n4    33
n5    36
n6    39
Name: 150, dtype: object
[33, 36, 39]
3
n1     3
n2    12
n3    22
n4    32
n5    45
n6    46
Name: 151, dtype: object
[32, 45, 46]
3
n1    14
n2    22
n3    28
n4    30
n5    41
n6    46
Name: 152, dtype: object
[41, 46]
2
n1     2
n2    16
n3    28
n4    37
n5    39
n6    49
Name: 153, dtype: object
[37, 39, 49]
3
n1     3
n2    13
n3    19
n4    21
n5    25
n6    42
Name: 154, dtype: object
[42]
1
n1     6
n2     9
n3    15
n4    38
n5    41
n6    42
Name: 155, dtype: object
[38, 41, 42]
3
n1     1
n2     2
n3    14
n4    17
n5    25
n6    49
Name: 156, dtype: object
[49]
1
n1     5
n2     9
n3    11
n4    14
n5    26
n6    39
Name: 157, dtype: object
[39]
1
n1    10
n2    11
n3    13
n4    28
n5    39
n6    40
Name: 158, dtype: object
[39, 40]
2
n1     3
n2     4
n3    23
n4    27
n5    28
n6    37
Name: 159, dtype: object
[37]
1
n1    20
n2    27
n3    29
n4    32
n5    34
n6    38
Name: 160, dtype: object
[32, 34, 38]
3
n1    12
n2    14
n3    17
n4    22
n5    45
n6    46
Name: 161, dtype: object
[45, 46]
2
n1     5
n2    13
n3    21
n4    37
n5    39
n6    48
Name: 162, dtype: object
[37, 39, 48]
3
n1    27
n2    29
n3    37
n4    42
n5    45
n6    47
Name: 163, dtype: object
[37, 42, 45, 47]
4
n1     1
n2     3
n3     4
n4    22
n5    29
n6    30
Name: 164, dtype: object
[]
0
n1     4
n2    11
n3    18
n4    22
n5    30
n6    45
Name: 165, dtype: object
[45]
1
n1     3
n2    21
n3    23
n4    38
n5    39
n6    42
Name: 166, dtype: object
[38, 39, 42]
3
n1     6
n2    24
n3    28
n4    29
n5    34
n6    35
Name: 167, dtype: object
[34, 35]
2
n1    33
n2    34
n3    38
n4    42
n5    43
n6    44
Name: 168, dtype: object
[33, 34, 38, 42, 43, 44]
6
n1    11
n2    17
n3    32
n4    34
n5    37
n6    49
Name: 169, dtype: object
[32, 34, 37, 49]
4
n1    13
n2    18
n3    36
n4    40
n5    42
n6    48
Name: 170, dtype: object
[36, 40, 42, 48]
4
n1     5
n2    16
n3    39
n4    43
n5    47
n6    48
Name: 171, dtype: object
[39, 43, 47, 48]
4
n1     1
n2    10
n3    12
n4    19
n5    21
n6    47
Name: 172, dtype: object
[47]
1
n1    26
n2    32
n3    41
n4    42
n5    45
n6    47
Name: 173, dtype: object
[32, 41, 42, 45, 47]
5
n1     4
n2    27
n3    28
n4    31
n5    38
n6    44
Name: 174, dtype: object
[31, 38, 44]
3
n1     1
n2     2
n3     6
n4    15
n5    38
n6    39
Name: 175, dtype: object
[38, 39]
2
n1    13
n2    19
n3    20
n4    38
n5    39
n6    44
Name: 176, dtype: object
[38, 39, 44]
3
n1     2
n2     6
n3     9
n4    19
n5    20
n6    47
Name: 177, dtype: object
[47]
1
n1     6
n2    13
n3    20
n4    33
n5    39
n6    41
Name: 178, dtype: object
[33, 39, 41]
3
n1     9
n2    32
n3    35
n4    38
n5    42
n6    43
Name: 179, dtype: object
[32, 35, 38, 42, 43]
5
n1     1
n2    12
n3    19
n4    26
n5    30
n6    48
Name: 180, dtype: object
[48]
1
n1     5
n2     7
n3     8
n4    26
n5    28
n6    36
Name: 181, dtype: object
[36]
1
n1    11
n2    15
n3    18
n4    43
n5    44
n6    45
Name: 182, dtype: object
[43, 44, 45]
3
n1     2
n2    21
n3    26
n4    32
n5    36
n6    48
Name: 183, dtype: object
[32, 36, 48]
3
n1    16
n2    32
n3    33
n4    40
n5    42
n6    43
Name: 184, dtype: object
[32, 33, 40, 42, 43]
5
n1     7
n2    13
n3    19
n4    29
n5    38
n6    41
Name: 185, dtype: object
[38, 41]
2
n1    22
n2    29
n3    35
n4    37
n5    39
n6    47
Name: 186, dtype: object
[35, 37, 39, 47]
4
n1    14
n2    21
n3    32
n4    33
n5    35
n6    48
Name: 187, dtype: object
[32, 33, 35, 48]
4
n1     1
n2     5
n3     6
n4    17
n5    28
n6    41
Name: 188, dtype: object
[41]
1
n1     7
n2    20
n3    25
n4    26
n5    34
n6    37
Name: 189, dtype: object
[34, 37]
2
n1    11
n2    15
n3    38
n4    41
n5    44
n6    46
Name: 190, dtype: object
[38, 41, 44, 46]
4
n1     4
n2    15
n3    18
n4    21
n5    32
n6    45
Name: 191, dtype: object
[32, 45]
2
n1     1
n2     8
n3    11
n4    18
n5    24
n6    29
Name: 192, dtype: object
[]
0
n1     3
n2    34
n3    35
n4    37
n5    46
n6    47
Name: 193, dtype: object
[34, 35, 37, 46, 47]
5
n1     2
n2     3
n3    15
n4    20
n5    31
n6    35
Name: 194, dtype: object
[31, 35]
2
n1     1
n2     3
n3     6
n4    11
n5    24
n6    43
Name: 195, dtype: object
[43]
1
n1     7
n2    11
n3    18
n4    19
n5    21
n6    27
Name: 196, dtype: object
[]
0
n1     8
n2    14
n3    18
n4    25
n5    30
n6    36
Name: 197, dtype: object
[36]
1
n1     3
n2     7
n3    31
n4    37
n5    40
n6    41
Name: 198, dtype: object
[31, 37, 40, 41]
4
n1     1
n2     8
n3    22
n4    32
n5    33
n6    43
Name: 199, dtype: object
[32, 33, 43]
3
n1     6
n2    14
n3    16
n4    35
n5    42
n6    48
Name: 200, dtype: object
[35, 42, 48]
3
n1    23
n2    28
n3    30
n4    31
n5    37
n6    45
Name: 201, dtype: object
[31, 37, 45]
3
n1     2
n2    10
n3    30
n4    34
n5    41
n6    49
Name: 202, dtype: object
[34, 41, 49]
3
n1     6
n2    14
n3    28
n4    30
n5    37
n6    39
Name: 203, dtype: object
[37, 39]
2
n1    11
n2    12
n3    17
n4    23
n5    43
n6    49
Name: 204, dtype: object
[43, 49]
2
n1     6
n2    25
n3    26
n4    33
n5    45
n6    47
Name: 205, dtype: object
[33, 45, 47]
3
n1    15
n2    21
n3    26
n4    34
n5    42
n6    43
Name: 206, dtype: object
[34, 42, 43]
3
n1     6
n2    13
n3    23
n4    26
n5    30
n6    33
Name: 207, dtype: object
[33]
1
n1     5
n2     6
n3     7
n4    17
n5    18
n6    39
Name: 208, dtype: object
[39]
1
n1     5
n2    25
n3    29
n4    43
n5    47
n6    48
Name: 209, dtype: object
[43, 47, 48]
3
n1     1
n2    18
n3    20
n4    28
n5    40
n6    49
Name: 210, dtype: object
[40, 49]
2
n1     1
n2    18
n3    22
n4    30
n5    34
n6    44
Name: 211, dtype: object
[34, 44]
2
n1    10
n2    14
n3    20
n4    27
n5    33
n6    41
Name: 212, dtype: object
[33, 41]
2
n1     1
n2    34
n3    37
n4    40
n5    44
n6    49
Name: 213, dtype: object
[34, 37, 40, 44, 49]
5
n1     4
n2    16
n3    18
n4    37
n5    38
n6    42
Name: 214, dtype: object
[37, 38, 42]
3
n1     4
n2     6
n3     8
n4    15
n5    26
n6    30
Name: 215, dtype: object
[]
0
n1     4
n2     5
n3    28
n4    32
n5    44
n6    49
Name: 216, dtype: object
[32, 44, 49]
3
n1     2
n2     6
n3    10
n4    11
n5    34
n6    44
Name: 217, dtype: object
[34, 44]
2
n1     8
n2    19
n3    35
n4    40
n5    41
n6    43
Name: 218, dtype: object
[35, 40, 41, 43]
4
n1     2
n2     8
n3    12
n4    17
n5    19
n6    27
Name: 219, dtype: object
[]
0
n1     7
n2    12
n3    13
n4    33
n5    48
n6    49
Name: 220, dtype: object
[33, 48, 49]
3
n1     6
n2    13
n3    21
n4    27
n5    38
n6    45
Name: 221, dtype: object
[38, 45]
2
n1     2
n2     5
n3    30
n4    33
n5    44
n6    48
Name: 222, dtype: object
[33, 44, 48]
3
n1     5
n2     6
n3    22
n4    31
n5    35
n6    42

Name: 223, dtype: object
[31, 35, 42]
3
n1    19
n2    25
n3    30
n4    35
n5    40
n6    46
Name: 224, dtype: object
[35, 40, 46]
3
n1     5
n2     9
n3    17
n4    24
n5    39
n6    45
Name: 225, dtype: object
[39, 45]
2
n1     6
n2     9
n3    10
n4    21
n5    30
n6    36
Name: 226, dtype: object
[36]
1
n1     2
n2     5
n3    29
n4    46
n5    47
n6    48
Name: 227, dtype: object
[46, 47, 48]
3
n1    10
n2    13
n3    19
n4    26
n5    31
n6    41
Name: 228, dtype: object
[31, 41]
2
n1     5
n2    13
n3    15
n4    26
n5    30
n6    44
Name: 229, dtype: object
[44]
1
n1    10
n2    19
n3    20
n4    31
n5    39
n6    41
Name: 230, dtype: object
[31, 39, 41]
3
n1    16
n2    32
n3    34
n4    37
n5    42
n6    44
Name: 231, dtype: object
[32, 34, 37, 42, 44]
5
n1     2
n2    11
n3    14
n4    35
n5    39
n6    49
Name: 232, dtype: object
[35, 39, 49]
3
n1    14
n2    26
n3    28
n4    30
n5    36
n6    43
Name: 233, dtype: object
[36, 43]
2
n1     1
n2     6
n3     9
n4    21
n5    26
n6    37
Name: 234, dtype: object
[37]
1
n1     8
n2    15
n3    16
n4    17
n5    27
n6    35
Name: 235, dtype: object
[35]
1
n1     1
n2     5
n3    11
n4    13
n5    20
n6    49
Name: 236, dtype: object
[49]
1
n1     5
n2    14
n3    15
n4    20
n5    22
n6    38
Name: 237, dtype: object
[38]
1
n1     2
n2    13
n3    17
n4    35
n5    36
n6    49
Name: 238, dtype: object
[35, 36, 49]
3
n1     1
n2     4
n3    38
n4    39
n5    46
n6    47
Name: 239, dtype: object
[38, 39, 46, 47]
4
n1     6
n2    19
n3    25
n4    30
n5    33
n6    42
Name: 240, dtype: object
[33, 42]
2
n1     1
n2    10
n3    17
n4    23
n5    28
n6    38
Name: 241, dtype: object
[38]
1
n1     1
n2     5
n3     9
n4    13
n5    26
n6    41
Name: 242, dtype: object
[41]
1
n1     1
n2     3
n3    31
n4    33
n5    40
n6    41
Name: 243, dtype: object
[31, 33, 40, 41]
4
n1     9
n2    10
n3    16
n4    22
n5    31
n6    44
Name: 244, dtype: object
[31, 44]
2
n1     4
n2    10
n3    15
n4    37
n5    44
n6    49
Name: 245, dtype: object
[37, 44, 49]
3
n1     9
n2    11
n3    26
n4    29
n5    35
n6    46
Name: 246, dtype: object
[35, 46]
2
n1    20
n2    26
n3    30
n4    39
n5    47
n6    49
Name: 247, dtype: object
[39, 47, 49]
3
n1    10
n2    13
n3    32
n4    37
n5    46
n6    48
Name: 248, dtype: object
[32, 37, 46, 48]
4
n1     7
n2    10
n3    33
n4    37
n5    43
n6    46
Name: 249, dtype: object
[33, 37, 43, 46]
4
n1     1
n2     8
n3    10
n4    16
n5    17
n6    40
Name: 250, dtype: object
[40]
1
n1     7
n2    10
n3    15
n4    25
n5    37
n6    49
Name: 251, dtype: object
[37, 49]
2
n1     5
n2    13
n3    23
n4    31
n5    47
n6    48
Name: 252, dtype: object
[31, 47, 48]
3
n1     1
n2    13
n3    16
n4    29
n5    30
n6    31
Name: 253, dtype: object
[31]
1
n1    24
n2    26
n3    32
n4    35
n5    38
n6    39
Name: 254, dtype: object
[32, 35, 38, 39]
4
n1    18
n2    20
n3    30
n4    32
n5    43
n6    45
Name: 255, dtype: object
[32, 43, 45]
3
n1     2
n2    17
n3    19
n4    32
n5    34
n6    38
Name: 256, dtype: object
[32, 34, 38]
3
n1    10
n2    16
n3    25
n4    28
n5    34
n6    49
Name: 257, dtype: object
[34, 49]
2
n1    10
n2    18
n3    19
n4    31
n5    33
n6    47
Name: 258, dtype: object
[31, 33, 47]
3
n1    18
n2    23
n3    33
n4    34
n5    40
n6    48
Name: 259, dtype: object
[33, 34, 40, 48]
4
n1    12
n2    14
n3    16
n4    19
n5    29
n6    47
Name: 260, dtype: object
[47]
1
n1     2
n2    16
n3    25
n4    26
n5    27
n6    40
Name: 261, dtype: object
[40]
1
n1     7
n2    12
n3    14
n4    15
n5    19
n6    46
Name: 262, dtype: object
[46]
1
n1     9
n2    21
n3    23
n4    31
n5    34
n6    39
Name: 263, dtype: object
[31, 34, 39]
3
n1    14
n2    18
n3    19
n4    25
n5    35
n6    46
Name: 264, dtype: object
[35, 46]
2
n1    10
n2    13
n3    31
n4    34
n5    46
n6    48
Name: 265, dtype: object
[31, 34, 46, 48]
4
n1     3
n2    12
n3    27
n4    36
n5    42
n6    45
Name: 266, dtype: object
[36, 42, 45]
3
n1     1
n2    23
n3    30
n4    35
n5    43
n6    47
Name: 267, dtype: object
[35, 43, 47]
3

In [18]:
#np.zeros((kt.index.size,), dtype=int)

In [19]:
#pd.Series(np.zeros((kt.index.size,), dtype=int), index=kt.index)

In [20]:
#range(1,kt.index.size+1,1)

In [21]:
kt.index.size

268

In [22]:
#print(kt.to_string())
kt

          date  n1  n2  n3  n4  n5  n6  n7     jackpot  even  odd  high  low
0   2018-08-01   2  22  25  32  45  46   2   5000000 R     4    2     3    3
1   2018-07-28   7  11  31  34  35  36   1   4000000 R     2    4     4    2
2   2018-07-25   8   9  39  40  41  43   9   1000000 R     2    4     4    2
3   2018-07-21   1   6   7  20  29  49   5     6931435     2    4     1    5
4   2018-07-18   5  14  19  22  33  41   1   4000000 R     2    4     2    4
5   2018-07-14  30  40  41  47  48  49   0   2000000 R     3    3     5    0
6   2018-07-11   1   3  18  28  42  44   5     5322768     4    2     2    4
7   2018-07-07   2   5  13  18  25  36   2   4000000 R     3    3     1    5
8   2018-07-04   1   5  10  25  32  37   8   1000000 R     2    4     2    4
9   2018-06-30  16  24  37  38  40  42   9    10578110     5    1     4    2
10  2018-06-27  13  17  35  37  45  46   3   5000000 R     1    5     4    2
11  2018-06-23   6  17  25  29  48  49   1   4000000 R     2    4     2    4
12  2018-06-20   6  22  31  33  36  43   5   1000000 R     3    3     4    2
13  2018-06-16   4  19  31  33  40  46   2     8098317     3    3     4    2
14  2018-06-13   3   4   6  10  46  48   3   5000000 R     5    1     2    4
15  2018-06-09  13  16  34  35  39  42   9   4000000 R     3    3     4    2
16  2018-06-06   3   8  13  15  18  42   6   1000000 R     3    3     1    5
17  2018-06-02   1  10  19  24  30  31   7     3433497     3    3     1    4
18  2018-05-30  15  23  29  35  38  48   2   4000000 R     2    4     3    3
19  2018-05-26  10  16  24  27  47  48   6   3000000 R     4    2     2    4
20  2018-05-23   7  16  29  36  45  47   6    11352208     2    4     3    3
21  2018-05-19   3   4  27  41  44  49   2   6000000 R     2    4     3    3
22  2018-05-16   2  12  13  19  34  46   9   4000000 R     4    2     2    4
23  2018-05-12  23  27  29  36  38  42   0   3000000 R     3    3     3    3
24  2018-05-09   3   9  25  31  37  43   5     8299495     0    6     3    3
25  2018-05-05   1   5  17  31  34  49   7   7000000 R     1    5     3    3
26  2018-05-02   3   5  12  19  42  44   7   4000000 R     3    3     2    4
27  2018-04-28   2   9  11  33  47  48   4   2000000 R     2    4     3    3
28  2018-04-25   4   6  10  11  17  25   6     8298865     3    3     0    6
29  2018-04-21  12  15  19  23  29  38   5   7000000 R     2    4     1    5
30  2018-04-18   2   4   7  10  35  37   8   4000000 R     3    3     2    4
31  2018-04-14   4   9  33  34  42  47   6   3000000 R     3    3     4    2
32  2018-04-11   9  20  25  27  44  48   5     2047240     3    3     2    4
33  2018-04-07  12  15  19  27  34  47   8     7135159     2    4     2    4
34  2018-04-04  13  23  28  30  33  46   7   4000000 R     3    3     2    3
35  2018-03-31   1   8  12  15  46  48   5   3000000 R     4    2     2    4
36  2018-03-28   1  23  25  31  38  47   7     2490206     1    5     3    3
37  2018-03-24   3  16  27  34  42  45   1   3000000 R     3    3     3    3
38  2018-03-21  20  26  29  38  43  48   0    14033932     4    2     3    3
39  2018-03-17   1   7  17  22  29  46   7  11000000 R     2    4     1    5
40  2018-03-14  13  18  30  38  45  48   7   8000000 R     4    2     3    2
41  2018-03-10   8  19  34  35  40  49   8   7000000 R     3    3     4    2
42  2018-03-07   5  24  28  30  35  42   1   4000000 R     4    2     2    3
43  2018-03-03   5  24  28  37  40  44   8   3000000 R     4    2     3    3
44  2018-02-28   6  15  32  36  43  47   6     1337526     3    3     4    2
45  2018-02-24  18  27  33  41  44  47   6     8544076     2    4     4    2
46  2018-02-17  15  18  26  27  37  42   2   1000000 R     3    3     2    4
47  2018-02-10  17  20  27  35  41  45   8     7366168     1    5     3    3
48  2018-02-07  15  20  25  28  33  41   5   4000000 R     2    4     2    4
49  2018-02-03   5   9  13  20  39  48   5   3000000 R     2    4     2    4
50  2018-01-31   3   6   8  26  29  38   8     8813840     4    2     1    5
51  2018-01-27   4  22  24  34  36  43   6   7000000 R     5    1     3    3
52  2018-01-24   3   5  18  31  37  45   7   4000000 R     1    5     3    3
53  2018-01-20   3  11  15  18  33  45   4   3000000 R     1    5     2    4
54  2018-01-17   3  13  25  27  32  48   2    16244272     2    4     2    4
55  2018-01-13   5   6  14  16  31  48   0  14000000 R     4    2     2    4
56  2018-01-10   3  22  24  25  43  45   6  11000000 R     2    4     2    4
57  2018-01-06   5  14  32  37  46  47   0  10000000 R     3    3     4    2
58  2018-01-03  10  15  31  34  35  45   8   6000000 R     2    4     4    2
59  2017-12-30  11  12  14  27  37  48   0   5000000 R     3    3     2    4
60  2017-12-27  17  19  31  37  45  46   0   1000000 R     1    5     4    2
61  2017-12-23   4  11  31  32  38  39   6    18961293     3    3     4    2
62  2017-12-20   8  13  35  38  39  44   4  15000000 R     3    3     4    2
63  2017-12-16   5   6  18  23  30  40   9  13000000 R     4    2     1    4
64  2017-12-13   2   3   9  14  17  27   0  10000000 R     2    4     0    6
65  2017-12-09   7  12  16  20  25  46   7   8000000 R     4    2     1    5
66  2017-12-06  11  18  19  29  35  43   9   5000000 R     1    5     2    4
67  2017-12-02   3  12  13  17  18  33   2   4000000 R     2    4     1    5
68  2017-11-29   9  16  25  28  30  32   8   1000000 R     4    2     1    4
69  2017-11-25  11  17  20  26  37  43   9     8574680     2    4     2    4
70  2017-11-22  24  28  29  32  34  48   9   5000000 R     5    1     3    3
71  2017-11-18   2   5   9  12  20  35   7   4000000 R     3    3     1    5
72  2017-11-15   6  23  35  40  45  46   5   1000000 R     3    3     4    2
73  2017-11-11   1   7  11  16  19  37   7    17830561     1    5     1    5
74  2017-11-08   7  14  24  37  38  43   7  14000000 R     3    3     3    3
75  2017-11-04   3   7  14  21  46  47   6  13000000 R     2    4     2    4
76  2017-11-01   3   8  15  18  21  31   9  10000000 R     2    4     1    5
77  2017-10-28   1  20  22  24  33  36   1   8000000 R     4    2     2    4
78  2017-10-25   1  18  29  32  36  42   8   5000000 R     4    2     3    3
79  2017-10-21   4  10  15  25  34  46   1   4000000 R     4    2     2    4
80  2017-10-18   4   7  10  11  13  38   4   1000000 R     3    3     1    5
81  2017-10-14   7   9  10  13  35  40   7    13121323     2    4     2    4
82  2017-10-11   3   6  17  20  21  42   7  10000000 R     3    3     1    5
83  2017-10-07  11  20  21  24  30  49   6   8000000 R     3    3     1    4
84  2017-10-04  11  15  16  17  19  45   4   5000000 R     1    5     1    5
85  2017-09-30   4  18  19  23  33  46   1   4000000 R     3    3     2    4
86  2017-09-27  17  20  25  31  33  37   6   1000000 R     1    5     3    3
87  2017-09-23  10  15  19  23  38  44   6     8537139     3    3     2    4
88  2017-09-20   3   9  28  30  36  46   3   5000000 R     4    2     2    3
89  2017-09-16  21  26  27  31  35  47   9   4000000 R     1    5     3    3
90  2017-09-13  11  16  17  18  30  40   6   1000000 R     4    2     1    4
91  2017-09-09   8  14  18  27  40  49   3    17629073     4    2     2    4
92  2017-09-06  12  16  19  28  33  48   3  14000000 R     4    2     2    4
93  2017-09-02   3   5   8  14  33  34   6  12000000 R     3    3     2    4
94  2017-08-30   5   7   9  21  29  34   3   9000000 R     1    5     1    5
95  2017-08-26   2  11  19  24  28  49   9   8000000 R     3    3     1    5
96  2017-08-23  16  23  25  28  32  49   6   5000000 R     3    3     2    4
97  2017-08-19   2  10  29  35  45  48   2   4000000 R     3    3     3    3
98  2017-08-16   6   9  29  36  38  49   3   1000000 R     3    3     3    3
99  2017-08-12   5  15  25  27  47  49   6     3594929     0    6     2    4
100 2017-08-09   1  10  18  39  41  49   7   4000000 R     2    4     3    3
101 2017-08-05  14  18  19  23  37  49   5   3000000 R     2    4     2    4
102 2017-08-02  21  22  23  34  36  49   5    14789463     3    3     3    3
103 2017-07-29  14  20  29  30  35  37   3  13000000 R     3    3     2    3
104 2017-07-26  12  15  18  26  27  33   0  10000000 R     3    3     1    5
105 2017-07-22   5  27  37  41  45  47   7   8000000 R     0    6     4    2
106 2017-07-19  17  19  21  27  36  41   1   5000000 R     1    5     2    4
107 2017-07-15   8  25  31  32  33  38   1   4000000 R     3    3     4    2
108 2017-07-12  18  22  30  36  44  49   7   1000000 R     5    1     3    2
109 2017-07-08   2   3  17  23  27  40   2    13173447     2    4     1    5
110 2017-07-05   7  33  34  39  40  47   0  10000000 R     2    4     5    1
111 2017-07-01   2   3  15  22  35  47   8   8000000 R     2    4     2    4
112 2017-06-28  13  17  29  38  41  42   4   5000000 R     2    4     3    3
113 2017-06-24  13  23  27  38  43  46   6   4000000 R     2    4     3    3
114 2017-06-21   4   6   7  39  41  44   4   1000000 R     3    3     3    3
115 2017-06-17   2   6  16  22  44  49   1     7287855     5    1     2    4
116 2017-06-14  29  30  32  33  36  44   1   4000000 R     4    2     4    1
117 2017-06-10   4   6  16  26  29  42   7   3000000 R     5    1     1    5
118 2017-06-07   6  17  18  28  33  37   4    29696697     3    3     2    4
119 2017-06-03  24  31  32  35  37  46   3  27000000 R     3    3     5    1
120 2017-05-31   9  17  24  27  36  48   7  24000000 R     3    3     2    4
121 2017-05-27  23  24  25  27  29  49   1  22000000 R     1    5     1    5
122 2017-05-24   6  13  19  25  26  44   3  19000000 R     3    3     1    5
123 2017-05-20   1  15  29  34  37  44   7  17000000 R     2    4     3    3
124 2017-05-17   1   2  23  26  36  43   3  14000000 R     3    3     2    4
125 2017-05-13   7  19  32  45  47  48   1  13000000 R     2    4     4    2
126 2017-05-10   9  18  26  38  39  42   8  10000000 R     4    2     3    3
127 2017-05-06  16  26  30  31  32  47   4   8000000 R     4    2     3    2
128 2017-05-03   4   5  12  18  20  33   8   5000000 R     4    2     1    5
129 2017-04-29   3   4  18  36  37  49   5   4000000 R     3    3     3    3
130 2017-04-26  25  31  34  37  39  42   3   1000000 R     2    4     5    1
131 2017-04-22   1  11  12  19  25  32   7    13245614     2    4     1    5
132 2017-04-19  19  23  27  30  41  48   0  10000000 R     2    4     2    3
133 2017-04-15  12  18  21  27  30  36   7   8000000 R     4    2     1    4
134 2017-04-12  10  11  14  24  26  48   5   5000000 R     5    1     1    5
135 2017-04-08   2   7  28  39  40  47   1   4000000 R     3    3     3    3
136 2017-04-05   1   6   7  22  41  49   2   1000000 R     2    4     2    4
137 2017-04-01   5   8   9  18  22  36   8  11300368 R     4    2     1    5
138 2017-03-29   9  21  24  25  28  47   2   5000000 R     2    4     1    5
139 2017-03-25   1   9  11  25  26  49   6   4000000 R     1    5     1    5
140 2017-03-22   4  15  18  21  22  38   6   1000000 R     4    2     1    5
141 2017-03-18   4  12  23  27  31  40   0     5896029     3    3     2    4
142 2017-03-15   7  15  16  25  26  40   1  20000000 R     3    3     1    5
143 2017-03-11   4  12  17  26  46  49   8  18000000 R     4    2     2    4
144 2017-03-08   3   7  16  26  28  35   6  15000000 R     3    3     1    5
145 2017-03-04   1  19  22  23  41  45   2  13000000 R     1    5     2    4
146 2017-03-01  12  22  29  30  31  38   4  10000000 R     4    2     2    3
147 2017-02-25   1   3   4   9  28  32   4   8000000 R     3    3     1    5
148 2017-02-22   1   5   7  25  42  46   3   5000000 R     2    4     2    4
149 2017-02-18  17  20  24  25  27  41   9   4000000 R     2    4     1    5
150 2017-02-15   7  13  18  33  36  39   4   1000000 R     2    4     3    3
151 2017-02-11   3  12  22  32  45  46   6     4495389     4    2     3    3
152 2017-02-08  14  22  28  30  41  46   6   6000000 R     5    1     2    3
153 2017-02-04   2  16  28  37  39  49   8   4000000 R     3    3     3    3
154 2017-02-01   3  13  19  21  25  42   9   1000000 R     1    5     1    5
155 2017-01-28   6   9  15  38  41  42   7     3057019     3    3     3    3
156 2017-01-25   1   2  14  17  25  49   5    31058057     2    4     1    5
157 2017-01-21   5   9  11  14  26  39   9  29000000 R     2    4     1    5
158 2017-01-18  10  11  13  28  39  40   1  25000000 R     3    3     2    4
159 2017-01-14   3   4  23  27  28  37   3  23000000 R     2    4     1    5
160 2017-01-11  20  27  29  32  34  38   1  20000000 R     4    2     3    3
161 2017-01-07  12  14  17  22  45  46   7  18000000 R     4    2     2    4
162 2017-01-04   5  13  21  37  39  48   2  15000000 R     1    5     3    3
163 2016-12-31  27  29  37  42  45  47   3  13000000 R     1    5     4    2
164 2016-12-28   1   3   4  22  29  30   3   9000000 R     3    3     0    5
165 2016-12-24   4  11  18  22  30  45   1   7000000 R     4    2     1    4
166 2016-12-21   3  21  23  38  39  42   7   4000000 R     2    4     3    3
167 2016-12-17   6  24  28  29  34  35   2   3000000 R     4    2     2    4
168 2016-12-14  33  34  38  42  43  44   4      691276     4    2     6    0
169 2016-12-10  11  17  32  34  37  49   3     7578027     2    4     4    2
170 2016-12-07  13  18  36  40  42  48   8   4000000 R     5    1     4    2
171 2016-12-03   5  16  39  43  47  48   9   3000000 R     2    4     4    2
172 2016-11-30   1  10  12  19  21  47   6     1415102     2    4     1    5
173 2016-11-26  26  32  41  42  45  47   9     2904766     3    3     5    1
174 2016-11-23   4  27  28  31  38  44   7     6533986     4    2     3    3
175 2016-11-19   1   2   6  15  38  39   3   4000000 R     3    3     2    4
176 2016-11-16  13  19  20  38  39  44   8   1000000 R     3    3     3    3
177 2016-11-12   2   6   9  19  20  47   1   4379578 R     3    3     1    5
178 2016-11-09   6  13  20  33  39  41   5   5000000 R     2    4     3    3
179 2016-11-05   9  32  35  38  42  43   8   4000000 R     3    3     5    1
180 2016-11-02   1  12  19  26  30  48   6   1000000 R     4    2     1    4
181 2016-10-29   5   7   8  26  28  36   8     8760598     4    2     1    5
182 2016-10-26  11  15  18  43  44  45   6   5000000 R     2    4     3    3
183 2016-10-22   2  21  26  32  36  48   7   4000000 R     5    1     3    3
184 2016-10-19  16  32  33  40  42  43   5   1000000 R     4    2     5    1
185 2016-10-15   7  13  19  29  38  41   9    13568089     1    5     2    4
186 2016-10-12  22  29  35  37  39  47   2  10000000 R     1    5     4    2
187 2016-10-08  14  21  32  33  35  48   5   8000000 R     3    3     4    2
188 2016-10-05   1   5   6  17  28  41   1   5000000 R     2    4     1    5
189 2016-10-01   7  20  25  26  34  37   1   4000000 R     3    3     2    4
190 2016-09-28  11  15  38  41  44  46   2   1000000 R     3    3     4    2
191 2016-09-24   4  15  18  21  32  45   4     4344796     3    3     2    4
192 2016-09-21   1   8  11  18  24  29   5   1000000 R     3    3     0    6
193 2016-09-17   3  34  35  37  46  47   2     3083198     2    4     5    1
194 2016-09-14   2   3  15  20  31  35   8         NaN     2    4     2    4
195 2016-09-10   1   3   6  11  24  43   0  29000000 R     2    4     1    5
196 2016-09-07   7  11  18  19  21  27   0  25000000 R     1    5     0    6
197 2016-09-03   8  14  18  25  30  36   1  23000000 R     5    1     1    4
198 2016-08-31   3   7  31  37  40  41   3  20000000 R     1    5     4    2
199 2016-08-27   1   8  22  32  33  43   9  18000000 R     3    3     3    3
200 2016-08-24   6  14  16  35  42  48   2  15000000 R     5    1     3    3
201 2016-08-20  23  28  30  31  37  45   5  13000000 R     2    4     3    2
202 2016-08-17   2  10  30  34  41  49   1  10000000 R     4    2     3    2
203 2016-08-13   6  14  28  30  37  39   2   9000000 R     4    2     2    3
204 2016-08-10  11  12  17  23  43  49   9   6000000 R     1    5     2    4
205 2016-08-06   6  25  26  33  45  47   0   4000000 R     2    4     3    3
206 2016-08-03  15  21  26  34  42  43   6   1000000 R     3    3     3    3
207 2016-07-30   6  13  23  26  30  33   2    28932056     3    3     1    4
208 2016-07-27   5   6   7  17  18  39   1  25000000 R     2    4     1    5
209 2016-07-23   5  25  29  43  47  48   5  23000000 R     1    5     3    3
210 2016-07-20   1  18  20  28  40  49   5  20000000 R     4    2     2    4
211 2016-07-16   1  18  22  30  34  44   5  18000000 R     5    1     2    3
212 2016-07-13  10  14  20  27  33  41   7  15000000 R     3    3     2    4
213 2016-07-09   1  34  37  40  44  49   7  13000000 R     3    3     5    1
214 2016-07-06   4  16  18  37  38  42   0  10000000 R     5    1     3    3
215 2016-07-02   4   6   8  15  26  30   9   8000000 R     5    1     0    5
216 2016-06-29   4   5  28  32  44  49   4   5000000 R     4    2     3    3
217 2016-06-25   2   6  10  11  34  44   3   4000000 R     5    1     2    4
218 2016-06-22   8  19  35  40  41  43   8   1000000 R     2    4     4    2
219 2016-06-18   2   8  12  17  19  27   1     2996813     3    3     0    6
220 2016-06-15   7  12  13  33  48  49   7     8994882     2    4     3    3
221 2016-06-11   6  13  21  27  38  45   5   7000000 R     2    4     2    4
222 2016-06-08   2   5  30  33  44  48   6   4000000 R     4    2     3    2
223 2016-06-04   5   6  22  31  35  42   3   3000000 R     3    3     3    3
224 2016-06-01  19  25  30  35  40  46   2     4535875     3    3     3    2
225 2016-05-28   5   9  17  24  39  45   3   7000000 R     1    5     2    4
226 2016-05-25   6   9  10  21  30  36   6   4000000 R     4    2     1    4
227 2016-05-21   2   5  29  46  47  48   4   3000000 R     3    3     3    3
228 2016-05-18  10  13  19  26  31  41   4     1455100     2    4     2    4
229 2016-05-14   5  13  15  26  30  44   9         NaN     3    3     1    4
230 2016-05-11  10  19  20  31  39  41   5  30000000 R     2    4     3    3
231 2016-05-07  16  32  34  37  42  44   9  28000000 R     5    1     5    1
232 2016-05-04   2  11  14  35  39  49   5  24000000 R     2    4     3    3
233 2016-04-30  14  26  28  30  36  43   6  22000000 R     5    1     2    3
234 2016-04-27   1   6   9  21  26  37   6  18000000 R     2    4     1    5
235 2016-04-23   8  15  16  17  27  35   4  17000000 R     2    4     1    5
236 2016-04-20   1   5  11  13  20  49   8  13000000 R     1    5     1    5
237 2016-04-16   5  14  15  20  22  38   9  12000000 R     4    2     1    5
238 2016-04-13   2  13  17  35  36  49   7   9000000 R     2    4     3    3
239 2016-04-09   1   4  38  39  46  47   2   7000000 R     3    3     4    2
240 2016-04-06   6  19  25  30  33  42   4   4000000 R     3    3     2    3
241 2016-04-02   1  10  17  23  28  38   6   3000000 R     3    3     1    5
242 2016-03-30   1   5   9  13  26  41   1     5319644     1    5     1    5
243 2016-03-26   1   3  31  33  40  41   5   3000000 R     1    5     4    2
244 2016-03-23   9  10  16  22  31  44   0     9106378     4    2     2    4
245 2016-03-19   4  10  15  37  44  49   5   7000000 R     3    3     3    3
246 2016-03-16   9  11  26  29  35  46   6   4000000 R     2    4     2    4
247 2016-03-12  20  26  30  39  47  49   4   3000000 R     3    3     3    2
248 2016-03-09  10  13  32  37  46  48   7     6019797     4    2     4    2
249 2016-03-05   7  10  33  37  43  46   3   4000000 R     2    4     4    2
250 2016-03-02   1   8  10  16  17  40   9   1000000 R     4    2     1    5
251 2016-02-27   7  10  15  25  37  49   7     4466455     1    5     2    4
252 2016-02-24   5  13  23  31  47  48   5   1000000 R     1    5     3    3
253 2016-02-20   1  13  16  29  30  31   6     4529955     2    4     1    4
254 2016-02-17  24  26  32  35  38  39   3   1000000 R     4    2     4    2
255 2016-02-13  18  20  30  32  43  45   8     9649160     4    2     3    2
256 2016-02-10   2  17  19  32  34  38   4  15000000 R     4    2     3    3
257 2016-02-06  10  16  25  28  34  49   5  14000000 R     4    2     2    4